<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Vue To-Do App</title>
  </head>
  <body>
    <div class="container-fluid header">
      <h1 class="text-center py-4 font1">Vue Task App</h1>
    </div>

    <div class="container col-sm-8 col-sm-offset-2 mt-4">
      <div id="taskApp">
        <!-- Add new task form -->
        <div class="card mb-4">
          <h2 class="text-center my-3">Add New Task</h2>

          <form v-on:submit="addTask">
            <div class="row mx-3">
              <div class="col-sm-8">
                <input type="text" class="form-control" v-model="tasks.name">
              </div>
              <div class="col-sm-4">
                <input type="submit" value="Add" class="btn btn-primary btn-block">
              </div>
            </div>
          </form>
          &nbsp;
        </div>

        <table class="table">
          <thread>
            <th>Checkmark Done</th>
            <th>Task Name</th>
            <th>Delete</th>
          </thread>

          <tbody>
            <tr v-for='task in tasks'>
              <td><input type="checkbox" v-model="task.done"></td>
              <td><span :class="{ taskDone: task.done }">{{ task.name }}</span></td>
              <td><button class="btn btn-danger btn-block" v-on:click="deleteTask(task)">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.1/vue.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
